/* Navigation */
.navigation__container {
  background: var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.15rem;
  font-weight: 500;
  top: 2rem;
}

.navigation__links_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.navigation__link {
  color: white;
  text-decoration: none;
  text-align: center;
  height: 4rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: black;
  color: var(--primary-color);
}
.active:active {
  box-shadow: none;
}

.navigation__link:hover {
  color: white;
}
.active:hover {
  background-color: white;
  color: var(--primary-color);
}

.homeLink {
  color: white;
  text-decoration: none;
  z-index: 100;
  text-align: left;
  display: block;
  margin-left: -5rem;
}
.homeContainer {
  position: relative;
  display: block;
}

#navigation__dropdown_container {
  color: white;
  display: none;
  width: 100%;
  text-align: center;
}

.dropdown {
  display: block;
  position: absolute;
  width: 10rem;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 1rem;
  top: -2rem;
  left: -7rem;
}

.dropdownLink {
  color: var(--primary-color);
  text-decoration: none;
}

.rightLogo {
  display: block;
}

@media (max-width: 999px) {
  .navigation__link {
    margin: 0.3rem 0rem;
  }
}

@media (max-width: 480px) {
  .navigation__container {
    border-radius: 0rem;
    top: 0;
  }

  .navigation__link {
    padding: 1rem 0rem;
    width: 100%;
    margin: 0.3rem 0rem;
  }
  .rightLogo {
    display: none;
  }
}

/* Footer */
.footer__container {
  padding: 4rem 0rem;
  overflow-x: hidden;
}

.footer__detail {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: white;
  padding-top: 2rem;
}

@media (max-width: 999px) {
  .footer_logo {
    width: 20rem;
  }
  #navigation__dropdown_container {
    display: block;
  }
  .homeContainer {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer__detail {
    padding-top: 0.4rem;
  }
  .footer_logo {
    width: 20rem;
    height: 9rem;
  }
  .footer__icons_container {
    margin-top: 3rem;
  }
}
